@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?jlpvoy');
	src:url('fonts/icomoon.svg?jlpvoy#icomoon') format('svg'),
		url('fonts/icomoon.eot?#iefixjlpvoy') format('embedded-opentype'),
		url('fonts/icomoon.ttf?jlpvoy') format('truetype'),
		url('fonts/icomoon.woff?jlpvoy') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pwd:before {
	content: "\e600";
}
.icon-warn:before {
	content: "\e601";
}
.icon-uname:before {
	content: "\e602";
}
.icon-right:before {
	content: "\e615";
}
.icon-arrowleft:before {
	content: "\e603";
}
.icon-china:before {
	content: "\e604";
}
.icon-chinaactive:before {
	content: "\e605";
}
.icon-calendar:before {
	content: "\e606";
}
.icon-filter:before {
	content: "\e607";
}
.icon-refresh:before {
	content: "\e608";
}
.icon-search:before {
	content: "\e609";
}
.icon-plus:before {
	content: "\e60a";
}
.icon-chartactive:before {
	content: "\e60b";
}
.icon-chart:before {
	content: "\e60c";
}
.icon-compareactive:before {
	content: "\e60d";
}
.icon-compare:before {
	content: "\e60e";
}
.icon-projectactive:before {
	content: "\e60f";
}
.icon-project:before {
	content: "\e610";
}
.icon-close:before {
	content: "\e612";
}
.icon-abnormalactive:before {
	content: "\e613";
}
.icon-abnormal:before {
	content: "\e614";
}


html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:10px;}
html, body{width:100%;height:100%;overflow:hidden;}
body{font-family:"San Francisco","Heiti SC",Rotobo,"Droid Sans","Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;word-wrap:break-word;word-break:break-all;color:#333;line-height:1;-webkit-font-smoothing:antialiased;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0;padding:0;-webkit-text-size-adjust:none;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-overflow-scrolling:touch;}
a{text-decoration:none;}
button,input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;outline:0;}
input[type=button], input[type=submit], input[type=reset], button{-webkit-appearance:none;appearance:none;}
table{border-collapse:collapse;border-spacing:0;}
th,td{word-wrap:break-word;word-break:break-all;}
iframe,fieldset,img{border:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
script,link,[hidden]{display:none!important;}
[invisible]{visibility:hidden!important;}
/*!important > style > id > class > attribute > persuade > tag*/

/*浮动与其清除*/
.fl{float:left;}
.fr{float:right;}
.clear:after{visibility:hidden;display:block;content:"";clear:both;height:0;}
.ell, .mlineell{overflow:hidden;text-overflow:ellipsis;}
.ell,.nobr{white-space:nowrap;word-wrap:normal;word-break:keep-all;}
.ovh{overflow:hidden;}

/*旋转*/
.rotate90{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.rotate180{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.rotate270{-webkit-transform:rotate(270deg);transform:rotate(270deg);}

/*多行省略号必加*/
.mlineell{-webkit-box-orient:vertical;-ms-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;white-space:normal;word-wrap:break-word;word-break:break-all;}
/*两行省略号*/
.twolineell{-webkit-line-clamp:2;line-clamp:2;}
/*示例*/
.textcolumns3{
	width:100%;
	-webkit-column-count:3;
	-webkit-column-gap:10px;
	-webkit-column-rule:1px dotted black;
	-moz-column-count:3;
	-moz-column-gap:10px;
	-moz-column-rule:1px dotted black;
	column-count:3;
	column-gap:10px;
	column-rule:1px dotted black;}
/*http://www.zhangxinxu.com/wordpress/2015/02/image-local-blur-background-attachment-fixed/
http://www.zhangxinxu.com/study/201502/image-baidu-homepage-local-blur.html
http://www.zhangxinxu.com/wordpress/2010/12/css-box-flex%E5%B1%9E%E6%80%A7%EF%BC%8C%E7%84%B6%E5%90%8E%E5%BC%B9%E6%80%A7%E7%9B%92%E5%AD%90%E6%A8%A1%E5%9E%8B%E7%AE%80%E4%BB%8B/
 */
.aline, [class*=" icon"], [class*="icon-"], .iconlabel{display:inline-block;vertical-align:middle;}

/*居中*/
.hcenter, .hvmiddle{margin-left:50%;}/*用于占位性居中，可能其父元素需要overflow:hidden*/
.hcenter, .habscenter, .absmiddle{-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.habscenter, .absmiddle{position:absolute;left:50%;}
.vcenter, .hvmiddle{margin-top:50%;}
.vcenter, .vabscenter, .absmiddle{-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.vabscenter, .absmiddle{position:absolute;top:50%;}
.absmiddle, .hvmiddle{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}

.invisible{visibility:hidden;}
.hide{display:none;}
.separater{height:1.5rem;}

.halfwidth{width:50%;}

/*内边距*/
.pdt05{padding-top:.5rem;}
.pdl15{padding-left:1.5rem!important;}
.pdr15{padding-right:1.5rem!important;}
.pdt15{padding-top:1.5rem!important;}
.pdb15{padding-bottom:1.5rem!important;}
.nopd{padding:0!important;}

/*上下边框*/
.bt1{border-top:.1rem solid #d8d9da;}
.bb1{border-bottom:.1rem solid #d8d9da;}

/*文本颜色*/
.text_red{color:#ff6363!important;}
.text_blue{color:#4aacea!important;}
.text_green{color:#4fb533!important;}
.text_brown{color:#f5a623!important;}
.text_gray{color:#999!important;}

/*背景色*/
.bg_blue{background-color:#4aacea;}
.bg_orange{background-color:#f5a623;}
.bg_green{background-color:#77c12e;}

/*文本不加粗*/
.nobold{font-weight:normal!important;}

/*文本对齐*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}

/*flex布局*/
.flex, .mlineell{display:-webkit-box;display:-ms-flexbox;display:-moz-box;display:box;display:-webkit-flex;display:flex;}
.flexitem{flex:1;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;width:100%;}



.btn{display:inline-block;height:3.2rem;}
.btn:active{-webkit-tap-highlight-color:rgba(0,0,0,.3);}

.header{position:relative;z-index:1;padding:0 1.5rem;height:4.4rem;line-height:4.4rem;background:#32a0f5;color:#fff;}
.header h1{overflow:hidden;text-align:center;font-size:1.7rem;}
.header a{color:#fff;font-size:1.3rem;}
.headerleft{margin-right:1rem;}
.headerright{margin-left:1rem;position:relative;}
.headerright dd{position:absolute;right:-1.5rem;top:100%;}
.headerright dd a{display:block;color:#ff4a00;padding:.5rem;line-height:2.2rem;background:#fff;border:.1rem solid #ccc;}
.headerright dd a+a{border-top:0;}

.footer{position:absolute;bottom:0;width:100%;display:-webkit-box;display:-ms-flexbox;display:-moz-box;display:box;display:-webkit-flex;display:flex;background:#fff;}
.footer a{display:block;flex:1;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;width:100%;overflow:hidden;text-align:center;color:#999;font-size:1.4rem;border:.1rem solid #ccc;border-width:.1rem .1rem 0 0;}
.footer a.active{color:#32a0f5;}
.footer a i{display:inline-block;position:relative;font-size:3rem;}
.footer a i em{position:absolute;top:0;right:-1rem;width:1.8rem;height:1.8rem;line-height:1.8rem;text-align:center;white-space:nowrap;font-size:1rem;font-style:normal;border-radius:50%;background:#e84f3c;color:#fff;font-family:arial;}

.mask {
	height: 100%; width: 100%;
	background-color: rgba(255,255,255,.35);
	position: absolute;
	z-index: 9;
}
.spinloading { /* more info: http://www.zhangxinxu.com/wordpress/?p=3357 */
    width: 3px; height:3px;
    border-radius: 100%;
    box-shadow: 0 -10px 0 1px currentColor,           /* top, 1px expand */
                10px 0px currentColor,                /* right */
                0 10px currentColor,                  /* bottom */
                -10px 0 currentColor,                 /* left */

                -7px -7px 0 .5px currentColor,        /* left-top, 0.5px expand */
                7px -7px 0 1.5px currentColor,        /* right-top, 1.5px expand */
                7px 7px currentColor,                 /* right-bottom */
                -7px 7px currentColor;                /* left-bottom */
	-webkit-animation: spin 1s steps(8) infinite;
	animation: spin 1s steps(8) infinite;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}

@-webkit-keyframes spin {
     0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
     0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


